@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-app-bg text-white;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

input, select, textarea, button {
  @apply focus:outline-none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
